# Ignored Folders #
################
/.idea/*
/media/*
/downloader/*
/var/*
/dev/*
# Ignored Files #
################
/app/etc/local.xml
wp-config.php
robots.txt
/.htaccess
desktop.ini
/node_modules/*
